{% extends 'polls/base.html' %}
{% block title %}
Create a Poll
{% endblock title %}
{% block content %}
<ul>
<form action="{% url 'polls:create' %}" method="post">
  {% csrf_token %}
    <legend>Create a Poll</legend>
    <div class="form-group">
      <label for="question">Question</label>
      <input type="text" class="form-control" name="question" id="question" placeholder="Enter a question">
    </div>
    <strong><div class='text-primary'>
    Enter up to 4 choices:
    </div></strong>
    <p>
    {% for i in "xxxx" %}
      <div class="form-group">
        <label for="choice">Choice {{ forloop.counter }}</label>
        <input type="text" class="form-control" name="choice{{ forloop.counter }}" id="choice{{ forloop.counter }}" placeholder="Enter a choice">
      </div>
    {% endfor %}
    </p>
    <button type="submit" class="btn btn-default">Create</button>
</form>
</ul>
{% endblock content %}
