{% extends "blog/base.html" %}
{% block title %}
Arash's Blog
{% endblock title %}
{% block content %}
<h1>Arash's Blog</h1>
{% if entry_list %}
    {% for entry in entry_list %}
       <h4 class='text-primary'><a href="{% url 'blog:detail' entry.id %}">{{ entry.title }}</a></h4>
       <p>{{ entry.body }}</p>
       {% if not forloop.last %}
       <legend></legend>
       {% endif %}
    {% endfor %}
{% else %}
    <h3 class="text-danger">Arash hasn't written any polls yet... some blog.</h3>
{% endif %}
{% endblock content %}
