{% extends "blog/base.html" %}
{% load blog_markup %}
{% block title %}
Arash's Blog
{% endblock title %}
{% block navaddons %}
<form name="search" class="navbar-form navbar-left" role="search">
  <div class="form-group">
    {% if query %}
      <input name="query" type="text" class="form-control" placeholder={{ query }}>
    {% else %}
      <input name="query" type="text" class="form-control" placeholder="Search Blog">
    {% endif %}
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock navaddons %}
{% block content %}
<div class="container">
  {% if query %}
    <h3>Arash's Blog - Entries matching "{{ query }}"</h1>
  {% else %}
    <h1>Arash's Blog</h1>
  {% endif %}
  {% if entries %}
    {% for entry in entries %}
      <h3 class='text-primary' style='margin-top: 30px'><a href="{% url 'blog:detail' entry.id entry.slug %}">
        {{ entry.title }}</a></h3>
      <p><em><small class="text-info">{{ entry.pub_date }}</small></em></p>
      <p>{{ entry.body|markdown }}</p>
    {% endfor %}
  {% else %}
    {% if query %}
      <h3 class="text-danger">No blog entries matched your criteria.</h3>
    {% else %}
      <h3 class="text-danger">Arash hasn't written any posts yet... some blog.</h3>
    {% endif %}
  {% endif %}
  <span class="pagination">
    {% if entries.has_previous %}
      <li><a href="?page={{ entries.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><a href="">&laquo;</a></li>
    {% endif %}
    {% for n in page_list %}
      {% if n == entries.number %}
        <li class="active"><a href="?page={{ n }}">{{ n }}</a></li>
      {% else %}
        <li><a href="?page={{ n }}">{{ n }}</a></li>
      {% endif %}
    {% endfor %}
    {% if entries.has_next %}
      <li><a href="?page={{ entries.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><a href="">&raquo;</a></li>
    {% endif %}
  </span>
</div>
{% endblock content %}
{% block footer %}
<div class='container text-center' style='margin-bottom: 25px'>
  <a href="mailto:agreyshi@gmail.com" class="icon-envelope-alt icon-2x"></a>
</div>
{% endblock footer %}
