<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>{% block name %}Araghor{% endblock name %}</title>
    <meta name="application-name" content="Araghor"/>
    <meta name="msapplication-TileColor" content="#004d18"/>
    <meta name="msapplication-TileImage" content="apple-touch-icon-144x144.png"/>


    <link href="/static/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/static/css/styles.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/static/css/bootstrap-glyphicons.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/static/css/typeahead.js-bootstrap.css" media="screen" rel="stylesheet" type="text/css" />

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/typeahead.min.js"></script>
    <script src="/static/js/stockade.js"></script>
  </head>
  <body>
  <h1 class="text-primary text-center">{% block title %}<a href="/">Araghor</a>{% endblock title %}</h1>
  {% block content %}
  my content
  {% endblock content %}
  </body>
</html>
