<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>{% block title %}Greyash{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- Bootstrap -->
    {% block cssfile %}
    <link href="/static/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    {% endblock cssfile %}
    <link href="/static/css/bootstrap-glyphicons.css" media="screen" rel="stylesheet" type="text/css" />

    <meta name="msapplication-TileColor" content="#004d18"/>
    <meta name="msapplication-TileImage" content="apple-touch-icon-144x144.png"/>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
    <script src="/static/js/respond.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-static-top" style="width: 100%" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="grey">Grey</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <p class="navbar-text pull-right"><a href="/grey">Ash</a></p>
        <ul class="nav navbar-nav">
        {% block navtabs %}
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/polls/">Polls</a></li>
        {% endblock navtabs %}
        <li><a href="http://burgerbox.biz">Burgers</a></li>
        {% block navaddons %}
        {% endblock navaddons %}
        </ul>
      </div>
    </nav>
    {% block padding %}
    <style media="screen" type="text/css">
      .container {
        padding-left: 10px;
      }
    </style>
    {% endblock padding %}
    {% block center %}
    <div class="text-center">
    {% endblock center %}
    {% block content %}
    my content
    {% endblock content %}
    </div>
  </body>
  <footer>
    {% block footer %}
    <div class='container text-center'>
      <a href="http://github.com/Aghoreyshi" class="icon-github-alt icon-2x" style='padding-right: 10px'></a>
      <a href="mailto:arashgrey@gmail.com" class="icon-envelope-alt icon-2x"></a>
      <a href="https://copy.com?r=P8E3yj" class="icon-cloud icon-2x" style='padding-left: 10px'></a>
    </div>
    {% endblock footer %}
  </footer>
</html>
