{% extends 'araghor/base.html' %}
{% block title %}
Arash's CV
{% endblock title %}
{% block navtabs %}
<li><a href="/">Home</a></li>
<li><a href="/blog/">Blog</a></li>
<li><a href="/polls/">Polls</a></li>
<li class="active"><a href="/cv">CV</a></li>
{% endblock navtabs %}
{% block content %}
<div style="width: 100%; height: 0; padding-bottom: 100%">
  <iframe src="http://docs.google.com/viewer?url=https%3A%2F%2Fcopy.com%2FrKuXqfr9MNhHmOkM&embedded=true" style="width: 100%; height: 100%; border: none;"></iframe>
</div>
{% endblock content %}
{% block footer %}
{% endblock footer %}
