{% extends 'araghor/base.html' %}
{% block title %}
Arash Ghoreyshi
{% endblock title %}
{% block content %}
<div class="jumbotron text-center">
  <h1>Arash Ghoreyshi</h1>
  <p>
  I learned alot making this website. It was my first.
  </p>
  Visit my new site
  <a href="http://www.greyshi.com">here</a>.
  <p style='margin-bottom: 20px'>
</div>
<p style="margin-bottom: 20px">Built with <a href="http://www.youtube.com/watch?v=IAooXLAPoBQ" target="music">Django</a> and
  <a href="http://getbootstrap.com/" target="bootstrap">Bootstrap</a>
</p>
{% endblock content %}
