{% extends 'araghor/base.html' %}
{% block title %}
Greyshi Home
{% endblock title %}
{% block content %}
<div class="jumbotron text-center">
  <h1>Arash Greyshi</h1>
  <p>I'm learning <a href="http://www.youtube.com/watch?v=IAooXLAPoBQ">Django</a> while building this website.</p>
  <p>Check out the <a href="/polls/">polls</a> app.</p>
  <button type="button" class="btn btn-primary btn-lg" style='margin-top: 25px'>
    <a href="http://github.com/aghoreyshi/djangosite">View Source</a></button>
</div>
{% endblock content %}
