{% extends 'araghor/base.html' %}
{% block title %}
Arash Greyshi
{% endblock title %}
{% block content %}
<div class="jumbotron text-center">
  <h1>Home</h1>
  <p>Check out my <a href="/blog/">blog</a> or the <a href="/polls/">polls</a> app.</p>
  <button type="button" class="btn btn-primary btn-lg" style='margin-top: 15px'>
    <a href="http://github.com/aghoreyshi/djangosite">View Source</a></button>
</div>
<p style="margin-bottom: 25px">Built with <a href="http://www.youtube.com/watch?v=IAooXLAPoBQ">Django</a>.</p>
{% endblock content %}
